// ### Primary

$LightCyan: hsl(193, 38%, 86%);
$NeonGreen: hsl(150, 100%, 66%);

// ### Neutral

$GrayishBlue: hsl(217, 19%, 38%);
$DarkGrayish:hsl(217, 19%, 24%);
$DarkBlue: hsl(218, 23%, 16%);

// ## Typography

// ### Body Copy

$quote: 28px;

// ### Font

@import url(https://fonts.google.com/specimen/Manrope);
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border:0;
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
    // background-color: $DarkBlue;
}

.main{
    top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $DarkBlue;
  position: absolute;
  z-index: -2;
}

.btn{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0;
    background-color: $NeonGreen;
    text-align: center;
    display: inline-block;
    position: fixed;
    left: 50%;
    bottom: -70px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
    :hover{
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 80px 15px rgba(145, 92, 182, .4);
        cursor: pointer;
    }
}
.container{
    position: fixed;
        width: 500px;
        height: 350px;
        padding: 30px;
        background-color: $DarkGrayish;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius:4%;
        display: block;
        text-align: center;
        h3{
            background-color: $DarkGrayish;
            color: $NeonGreen;
            text-align: center;
            text-transform: uppercase;
        }
        p{
            color: $LightCyan;
            font-size: $quote;
        }
        .divider{
            
            left: 50%;
            bottom: 70px;
            transform: translate(-50%, -50%);
            margin: 0 auto;
            position: absolute;
        }
}